{% extends 'base.html' %}

{% block content %}
    <div class='container-fluid default-block' id=''>
      <div class='container' id='default_block'>
        <h1>{{ heading }}</h1>
        <p>
            Компания ООО "НеваТЭК Консалтинг" предоставляет услуги по правовым вопросам в различных сферах. большой опыт в решений не простых, с юридической точки зрения, вопросов с которыми к нам обращались наши клиенты, но и нашла много друзей, в том числе и в таможенной сфере.
            <br>
            <br>
            Полный спектр юридических услуг для крупного бизнеса и небольших компаний. Наши специалисты окажут вам профессиональную помощь.
        </p>
        <div class='container-fluid' id='block3'>
        <div class='container'>
            <div class='row'>
            <div class='col-xl-12 px-0' id='service-search-block'>
                <div class='row'>
                <div class='col' id='service-search-bar'>
                    <form>
                    <div class='form-group'>
                        <!-- %label{:for=>"exampleFormControlInput1"} Поиск услуг -->
                        <input class='form-control' id='exampleFormControlInput1' placeholder='Поиск услуг' type='email'>
                    </div>
                    </form>
                </div>
                </div>
                <div class='row'>
                <div class='col-xs-12 col-md-4' id='search-nav'>
                    <div class='row row-cols-1'>
                    <div class='col active'>
                        <h6>юридические услуги</h6>
                        <span>Полный спектр юридических услуг для крупного бизнеса и небольших компаний.</span>
                        <br>
                        <br>
                        <a href='#'>Полный список -></a>
                    </div>
                    <div class='col d-xs-none d-md-block'>
                        <h6>- бухгалтерские услуги</h6>
                    </div>
                    <div class='col d-xs-none d-md-block'>
                        <h6>- таможенное оформление</h6>
                    </div>
                    </div>
                </div>
                <div class='col-xs-12 col-md-8' id='search-results'>
                    <div class='row'>
                    <div class='col-12' id='search-status'>
                        Всего наидено
                        <b>
                        7 услуг
                        </b>
                    </div>
                    <div class='col'>
                        <div class='container' id='search-results-window'>
                        <div class='row-col-1'>
                            <div class='col' id='result'>
                            <a href='#'>
                                <h5>
                                Регистрация ООО
                                </h5>
                            </a>
                            <p>
                                "... рвым шагом на пути регистрации ООО будет создание уставного капитала. Уставной капитал не облагается ..."
                            </p>
                            <span id='cost'>
                                Стоимость: от
                                <b>2000 ₽</b>
                            </span>
                            </div>
                            <div class='col' id='result'>
                            <a href='#'>
                                <h5>
                                Открытие расчетных счетов
                                </h5>
                            </a>
                            <p>
                                "... твенности ООО ответственность ограничивается лишь уставным капиталом. Минимум уставной капитал соста ..."
                            </p>
                            <span id='cost'>
                                Стоимость: от
                                <b>2500 ₽</b>
                            </span>
                            </div>
                            <div class='col' id='result'>
                            <a href='#'>
                                <h5>
                                Выписки из ЕГРЮЛ/ЕГРИП
                                </h5>
                            </a>
                            <p>
                                "... рвым шагом на пути регистрации ООО будет создание уставного капитала. Уставной капитал не облагается ..."
                            </p>
                            <span id='cost'>
                                Стоимость: от
                                <b>2000 ₽</b>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class='row'>
                    <div class='col'></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- end of block3 -->
      </div>
    </div>
{% endblock content %}